services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.7
    command: ["start-dev", "--import-realm"]
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    ports:
      - "18080:8080"
    volumes:
      - ./keycloak:/opt/keycloak/data/import
